# Virtual environment
myenv/
venv/

# Byte-compiled / cached
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Database
db.sqlite3

# Django settings file (if you want to keep it private)
myproject/settings.py

# Crop photos folder
myproject/crop_photos/

# Django environment variables
.env
